
.header-container {
    padding: 15px 0;
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    transition: 0.3s;

    >* {
        grid-column: 2;
    }

    .hide-bcg {
        position: absolute;
        right: -20px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(19, 30, 30, 0.615);
        z-index: 2;
    }

    .menu-icon {
        position: relative;
        z-index: 3;
    }

    .header-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 70px;
            cursor: pointer;

            .logo-img {
                object-fit: cover;
                height: 100%;
            }
        }

        .navigation {
            display: none;
        }

        .mobile-navigation {

            .hide {
                display: none;
            }

            .mobile-nav-links-container {
                background-color: $clr2;
                opacity: 0.9;
                color: $clr-1;
                height: 100vh;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 15px;
                font-family: Assistant-SemiBold, Arial, Helvetica, sans-serif;
                font-size: 1.1em;
                list-style: none;
                border-radius: 5px;
                padding: 30px 20px;
                position: absolute;
                top: 0;
                z-index: 3;
                right: -2px;
                direction: ltr
            }
        }
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
        display: grid;
        .header-content {
            .mobile-navigation {
                display: none;
            }

            .navigation {
                display: inline-block;

                .nav-links-container {
                    list-style: none;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    height: 100%;
                    font-family: Assistant-Regular, Arial, Helvetica, sans-serif;
                    font-size: 1.25em;
                    padding: 0 10px;
                    border-radius: 10px;
                    margin-top: 5px;

                    .nav-link {
                        cursor: pointer;
                        font-size: 0.875em;
                        position: relative;
                        transition: opacity 0.3s ease;

                        &::before {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: $clr2;
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            opacity: 0;
                            transition: opacity 0.2s;
                        }

                        &:hover::before {
                            content: '';
                            width: 100%;
                            height: 1px;
                            background-color: $clr2;
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            opacity: 1;
                            transition: opacity 0.4s;
                        }

                        &.active {
                            font-family: Assistant-Bold, Arial, Helvetica, sans-serif;

                            // &::before {
                            //     content: '';
                            //     width: 100%;
                            //     height: 1px;
                            //     background-color: $clr2;
                            //     position: absolute;
                            //     bottom: 0px;
                            //     left: 0;
                            //     opacity: 1;
                            //     transition: opacity 0.4s;
                            // }
                        }
                    }
                }
            }
        }
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }

}

.header-bcg {
    transition: 0.3s;
    background-color: #efefefeb;
    color: $clr-1;
    padding: 5px 0;
    
}