.header-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    >* {
        grid-column: 2;
    }

    .header-content {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo {
            height: 70px;
            cursor: pointer;


            .logo-img {
                object-fit: cover;
                height: 100%;
            }
        }

        .navigation {
            display: none;
        }

        .mobile-navigation {
            .hide {
                display: none;
            }

            .mobile-nav-links-container{
                display: flex;
                flex-direction: column;
                gap: 5px;
                list-style: none;
                background-color: rgba(245, 245, 220, 0.415);
                margin-top: 2px;
                padding: 5px 20px;
                position: absolute;
                right: 2px;
                font-family: Assistant-SemiBold, Arial, Helvetica, sans-serif;
                border-radius: 5px;

            }
        }
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);

        .header-content {
            .mobile-navigation {
                display: none;
            }

            .navigation {
                display: inline-block;

                .nav-links-container {
                    list-style: none;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    height: 100%;
                    font-family: Assistant-SemiBold, Arial, Helvetica, sans-serif;
                    font-size: 1.25em;
                    padding: 0 10px;
                    border-radius: 10px;
                    margin-top: 5px;

                    .nav-link {
                        cursor: pointer;
                        font-size: 1em;
                        position: relative;
                        padding: 5px 3px;
                        transition: opacity 0.3s ease;

                        &::before {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: rgba(0, 0, 0, 0.641);
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            opacity: 0;
                            transition: opacity 0.2s;
                        }

                        &:hover::before {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: rgba(0, 0, 0, 0.641);
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            opacity: 1;
                            transition: opacity 0.4s;
                        }

                        &.active {
                            font-family: Assistant-Bold, Arial, Helvetica, sans-serif;

                            &::before {
                                content: '';
                                width: 100%;
                                height: 2px;
                                background-color: rgba(0, 0, 0, 0.641);
                                position: absolute;
                                bottom: -1px;
                                left: 0;
                                opacity: 1;
                                transition: opacity 0.4s;
                            }
                        }
                    }
                }
            }
        }
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }

}