.contact-page-container {
    margin-block-start: 90px;
    margin-block-end: 100px;
    font-size: 18px;
    color: $clr-1;

    h2 {
        margin-block-end: 20px;
    }

    .contact-page {
        display: flex;
        gap: 20px;

        div {
            flex: 1;
        }

        form {
            margin-block-start: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            label {
                display: flex;
                flex-direction: column;
                margin-block: 4px;
            }

            .send-msg-btn {
                margin-block-start: 5px;
            }
        }

        .directions {
            display: flex;
            flex-direction: column;
            gap: 20px;

            >* {
                background-color: aliceblue;
            }

            .map-container {
                flex: 3;
            }

            .adress {}

            .opening-hours {}
        }
    }
}