.hero-container {
    .hero-bcg {
        background-color: rgb(255, 255, 211);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero-txt {
        // font-family: 'Cinzel-Medium', Arial, Helvetica, sans-serif;

        display: flex;
        flex-direction: column;
        align-items: center;
        color: $clr-2;
        margin-top: 20%;

        &>:first-child {
            font-size: 8.125em;
        }

        &>:last-child {
            font-size: 3.625em;
        }
    }
}

.hero {}