// <a href="https://www.freepik.com/free-ai-image/ai-generated-modern-styled-entryway_58598667.htm#page=7&query=parquet%20home%20design&position=42&from_view=search&track=ais&uuid=770b99ae-e2ca-4b39-8a74-f4eb063ad5b2">Image By freepik</a>

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
height: 100vh;
    // margin-top: 35px;


    .hero-bcg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        // width: 100%;
        height: 100%;

        div {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            background-color: rgba(29, 29, 29, 0.5);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // object-position: right;
        }
    }

    .hero-txt {
        font-family: Cormorant_Infant-Regular, Arial, Helvetica, sans-serif;
        text-align: center;
        color: $clr1;
        border-radius: 5px;
        line-height: 3.8em;
        position: absolute;
        top:50%;
        transform: translateY(-50%);

        &>:first-child,  &>:nth-child(2)  {
            font-size: 6.2em;
        }

        &>:nth-child(3) {
            font-size: 1.5em;
            line-height: 3em;
            font-family: Assistant-Regular, Arial, Helvetica, sans-serif;
        }
    }

    button {
        width: fit-content;
        padding: 7px 30px;
        background-color: #342d26;
        color: $clr1;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        position: relative;
        top: 13%;
        transition: 0.2s;


        &:hover {
            background-color: rgba(238, 238, 238, 0.942);
            color: black;
            transition: 0.2s;
        }

    }

    // transform: translate3d(0px, -1031px, 0px);
    // transition: all 1500ms ease 0s;
    // transform:translate3d(0px, 0px, 0px);
    @include for-narrow-layout {

        .hero-bcg {
            width: 100vw;
        }

        .hero-txt {
            line-height: 7.35rem;

            &>:first-child,  &>:nth-child(2)  {
                font-size: 12em;
            }
        }

        button {
            font-size: 1.25em;
            padding: 7px 30px;
            position: relative;
            top: 0;
            // bottom: 0
            // bottom: 100%;

        }
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);

        .hero-txt {
            // margin-top: 15%;

            // &>:first-child {
            //     font-size: 10em;
            // }

            // &>:last-child {
            //     font-size: 2em;
            // }
        }
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }
}