.home-projects-container {
    margin-block-start: 70px;
    color: $clr-1;
    // height: max-content;
    min-height: calc(100vh - 150px);

    .home-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // height: calc(100vh - 190px);
        height: 100%;

        .home-projects-header {
            margin-block-end: 50px;
        }


        .projects {
            height: 100%;

            ul {
                height: 100%;
                display: flex;
                list-style: none;
                gap: 3px;

                li {
                    flex: 1;
                    // border: 1px solid white;
                    position: relative;
                    transition: 0.6s;
                    cursor: pointer;


                    span {
                        position: absolute;
                        display: none;
                    }

                    img {
                        height: 100%;
                        object-fit: cover;
                    }

                    &:hover {
                        flex: 5;
                        transition: 0.6s;

                        span {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            justify-content: center;
                            align-items: center;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            
                            :nth-child(1){
                                font-size: 3em;
                            } 

                            :nth-child(2) {
                                font-family: Assistant-SemiBold;
                                font-size: 1em;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 3px;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }

                }

                // display: grid;
                // grid-template-areas:
                //     "a b b"
                //     "a c d";

                // li:nth-child(1){
                //     grid-area: a;
                // }
                // li:nth-child(2){
                //     grid-area: b;
                // }
                // li:nth-child(3){
                //     grid-area: c;
                // }
                // li:nth-child(4){
                //     grid-area: d;
                // }
            }
        }
    }




}