.item-preview {
    margin: 10px;
    padding: 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    font-family: Assistant-SemiBold, Arial, Helvetica, sans-serif;
    color: $clr-1;
    text-decoration: none;
        text-align: center;


    .preview-img-container {
        margin-bottom: 7px;
        img {
            aspect-ratio: 1 / 1;
            width: 100%;
            height: 100%;
        }
    }

    .item-price-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 5px;
        font-size: 0.9375em;
    }

   a{
        font-size: 0.875em;
        font-size: 0.584em;
        font-family: Assistant-SemiBold, Arial, Helvetica, sans-serif;
        color: $clr-1;
        text-decoration: none;
    }

}