.items-list {
    list-style: none;
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @include for-narrow-layout {
        grid-template-columns: repeat(2, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns: repeat(3, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns: repeat(4, 1fr);
    }

    @include for-extra-wide-layout {}
}