* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#root {

}

.body-bcg {
    // background-image: url('src/assets/img/bcg2.png');
    // background-size: cover;
    // background-repeat: round;
    
}


body {
    font-family: Assistant-Regular, Arial, Helvetica, sans-serif;
    color: $clr2;
    direction: rtl;
}

html {}

button {
    font-family: Assistant-SemiBold, Arial, Helvetica, sans-serif;
}